/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Reset*/

body {
  background-color: #D9DFE3;
  color: #8BA2AD;
  font-family: 'Roboto Condensed', sans-serif;
}

body > header {
  z-index: 1000;
  position: fixed;
  top: 0px;
  border: 0 none;
  width: 100%;
}

body > header > p {
  border-collapse: collapse;
  width: 100%;
  color: #FCFCFC;
  background-color: #801E7C;
  float: left;
}

#title {
  padding: 25px;
  float: left;
}

#menu-click {
  top: 0px;
  float: right;
  width: 100px;
  color: #FCFCFC;
  background-color: #52197E;
  padding: 25px;
}

#menu-click > i {
  padding-left: 40px;
}

#error {
  width: 100%;
  background-color: red;
  color: #FCFCFC;
  display: none;
  padding: 25px;
}

#main {
  padding-top: 120px;
  background-color: #E7EBED;
  color: #566D77;
  width: 100%;
  padding-bottom: 25px;
  position: fixed;
}

#main > p {
  margin-left: 25px;
}
#main h1 {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em;
  margin-left: 25px;
}

#main > form > p:nth-child(1) > span > input {
  width: 80%;
  margin-bottom: 10px;
  margin-left: 25px;
}

#main > form > p:nth-child(2) > span > input {
  width: 80%;
  margin-bottom: 10px;
  margin-left: 25px;
}

#main > form > p:nth-child(2) > i {
  color: #8BA2AD;
  margin-left: -25px;
}

#main > form > p:nth-child(3) > span:nth-child(1) {
  float: left;
  width: 76%;
  margin-left: 25px;
}

#main > form > p:nth-child(3) > span:nth-child(2) {
  text-align: right;
}


input[type=text] {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 3px;
  border: 0 none;
  color: #8BA2AD;
  font-size: 1.1em;
  padding: 10px;
}

input[type=password] {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 3px;
  border: 0 none;
  color: #8BA2AD;
  font-size: 1.1em;
  padding: 10px;
}

input[type=submit] {
  border: 0 none;
  color: #FCFCFC;
  background-color: #52197E;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  padding: 10px 20px 10px 20px
}

footer {
  padding-left: 25px;
  padding-bottom: 25px;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
}

.menu {
  padding-top: 70px;
  position: fixed;
  z-index: -200;
  color: #FCFCFC;
  background-color: #52197E;
  transition: transform 0.3s;
}

.menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

/**
 * Close button resets.
 */
.menu__close {
  color: #FCFCFC;
  background-color: #52197E;
  font-size: 1em;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/* menu stuff */

.menu--slide-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .menu--slide-right {
    width: 150px;
  }
}

.menu--slide-right .menu__item {
  display: block;
  text-align: left;
  color: #FCFCFC;
  background-color: #52197E;
}

.menu--slide-right .menu__item:first-child {
  border-top: none;
}

.menu--slide-right .menu__item:last-child {
  border-bottom: none;
}

.menu--slide-right .menu__link {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  color: #FCFCFC;
  background-color: #52197E;
}

.menu--slide-right .menu__link2 {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  color: #FCFCFC;
  background-color: #3C145A;
}

.menu--slide-right .menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.menu--slide-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .menu--slide-right {
    transform: translateX(300px);
  }
}

.menu--slide-right.is-active {
  transform: translateX(0);
}